.blogMain {
    background-color: $whiteShade;
    padding-top: 80px;
}

.asideBlog {
    display: flex;
    flex-direction: column;
    padding: 30px;
    background-color: white;
    max-width: 30%;
    justify-content: flex-start;
    align-items: flex-start;
    margin-right: 35px;

    img {
        width: 100%;
    }

    h5 {
        font-family: $headingFont;
    }
}

//NEED TO FIX TO ADD LIST STYLE BACK
// .recentPostsList {
//     list-style-type: circle;
// }

.blogPost {
    background-color: white;
    padding: 30px;
    max-width: 60%;
    border-bottom: 5px solid $duskBlue;
    h5 {
        font-family: $headingFont;
    }
}

.blogFlex {
    display: flex;
    justify-content: flex-end;
}

.comments {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.commentOne, .commentTwo {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    max-width: 60%;
    display: flex;
    .commentImgDiv {
        width: 10%;
    }
    .commentTextDiv {
        padding-left: 30px;
        width: 90%;
    }
    p {
        font-size: 0.8rem;
    }
    img {
        width: 100%;
    }
}

.commentFlex {
    display: flex;
    flex-direction: column;
}

.commentTwo {
    border-bottom: 5px solid $duskBlue;
}