.blogMain {
    background-color: $whiteShade;
    padding-top: 80px;
}

.asideBlog {
    padding: 30px;
    background-color: white;
    max-width: 30%;

    h5 {
        font-family: $headingFont;
    }
}

//NEED TO FIX TO ADD LIST STYLE BACK
// .recentPostsList {
//     list-style-type: circle;
// }

.blogPost {
    background-color: white;
    padding: 30px;
    max-width: 60%;
    border-bottom: 5px solid $duskBlue;
    h5 {
        font-family: $headingFont;
    }
}

.blogFlex {
    display: flex;
    justify-content: space-evenly;
}

//NEED TO ADJUST COMMENT BOXES - FLEX?? WITH FORM
.commentOne, .commentTwo {
    background-color: white;
    padding: 30px;
    margin-top: 20px;
    // max-width: 60%;
    display: flex;
    p {
        font-size: 0.8rem;
    }
    // img {
    //     // min-width: 10%;
    // }
}

.commentFlex {
    display: flex;
    flex-direction: column;
}

.commentTwo {
    border-bottom: 5px solid $duskBlue;
}