.contactMain {
    background-color: $whiteShade;
    padding-top: 80px;
    .contactBox {
        max-width: 30%;
        background-color: white;
        padding: 30px;
        ul.social {
            // width: 30%;
            display: flex;
            //need to get icons to the left
            justify-content: space-evenly;        
            li {
                img {
                    width: 20px;
                    color: $duskBlue;
                    align-items: flex-start;
                }
            }
        
        }
    }
}


.contactInfoDetails {
    h4 {
        font-size: 1rem;
        padding: 10px 0;
    }
    p {
        margin: 0;
        font-size: 0.9rem;
    }
}
