.contactMain {
    background-color: $whiteShade;
    padding: 80px 0;
    .contactBox {
        background-color: white;
        padding: 30px;
        width: 300px;
        ul.social {
            // width: 30%
            display: flex;
            //need to get icons to the left
            justify-content: space-evenly;        
            li {
                img {
                    width: 20px;
                    color: $duskBlue;
                    align-items: flex-start;
                }
            }
        
        }
    }
}

.contactInfo {
    width: 40%;
}

.contactElementFlex {
    display: flex;
    flex-wrap: nowrap;
}


.contactInfoDetails {
    h4 {
        font-size: 1rem;
        padding: 10px 0;
    }
    p {
        margin: 0;
        font-size: 0.9rem;
    }
}

.contactFlex {
    display: flex;
    flex-wrap: nowrap;
}