.contactForm, .blogForm {
    display: flex;
    flex-direction: column;
    // width: 40%;

    input, textarea {
        border: none;
        padding: 20px;
        margin-bottom: 20px;
        color: black;
        font-family: $bodyFont;
        width: 100%;

        &::placeholder{
            font-size: 0.8rem;
        }
    }

    .nameField {
        margin-right: 10px;
        width: 100%;
    }

    button {
        border: none;
        color: black;
        background-color: $accent;
        padding: 10px 0;
        font-family: $headingFont;
    }

    .userInfo {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }

    //NEED TO FLEX FORM TO FIT WITH ELEMENTS ABOVE
    // .blogFormDiv {
    //     display: flex;
    //     justify-content: flex-end;
    // }
}

.blogForm {
    margin: 20px 0;
    .blogFormDiv {
        display: flex;
        justify-content: flex-end;
    }
}
