header {
    background-color: $lightBlue;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .headerImgContainer {
        width: 30%;
        padding: 20px 0px 0px 120px;
    }

    .headerRectangle {
        height: 100px;
        width: 50px;
        background-color: white;
    }

    .headerContent {
        width: 60%;
        margin: 0 auto;
    }


//Contact header
.contactHeader {
        width: 100%;
        background-size: cover;
    
}
}