header {
    background-color: $lightBlue;
    margin-bottom: 10px;

    .headerFlex {
        display: flex;
    }

    .headerContent {
        margin-left: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .contentContainer {
            position: relative;
            img {
                width: 35%;
                position: absolute;
                top: -64px;
                right: -45px;
            }
            // width: 90%;
        }
        .logoHero {
            font-size: 6rem;
        }
    }
}

//Contact header
.contactHeader {
    height: 40vh;
    background-image: url(../assets/contact-image-1.jpg);
    margin: 0;
    position: relative;
}

.contactMain {
    h1 {
        position: absolute;
        top: 323px;
    }
}