header {
    height: 80vh;
    background-color: $lightBlue;
    margin-bottom: 10px;
    position: relative;

    .headerFlex {
        display: flex;
        .homeHeaderImg {
            margin-left: 120px;
            margin-top: 40px;
            box-shadow: 15px 20px 0px 0px white;
            }
        }
    }

    .headerContent {
        margin-left: 80px;
        display: flex;
        align-items: center;
        justify-content: center;

        .contentContainer {
            position: relative;
            img {
                width: 35%;
                position: absolute;
                top: -63px;
                right: -45px;
            }
            // width: 90%;
        }
        .logoHero {
            font-size: 6rem;
        }
    }


//Contact header
.contactHeader {
    height: 40vh;
    background-image: url(../assets/contact-image-1.jpg);
    margin: 0;
    position: relative;
}

.contactMain {
    h1 {
        position: absolute;
        top: 323px;
    }
}

//blog header
.blogHeader {
    height: 50vh;
    margin-bottom: 0;
    background-image: url(../assets/blog-image-1.jpg);
    background-size: cover;
    position: relative;

    h1 {
        position: absolute;
        bottom: -36px;
        left: 46px;
    }
}