@media (max-width: 1000px) {
    header {
        .headerImgContainer {
            img {
                height: 100vh;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 800px) {

    header {

        .headerFlex {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
    
            .homeHeaderImg {
                display: flex;
                justify-content: center;
                margin-left: 0;
    
                img {
                    width: 50%;
                }
            }
        }
        // .headerFlex {
        //     display: flex;
        //     justify-content: space-evenly;
        //     width: 100%;
        //     // // flex-direction: column;
        //     // justify-content: center;
            
        //     .homeHeaderImg {
        //         // margin: 0 auto;
        //         img {
        //             width: 80%;
        //         }
        //     }
        // }

        .headerContent {
            .logoHero {
                font-size: 3rem;
                display: flex;
                text-align: center;
                margin-right: 70px;
                padding-top: 50px;
            }
            .contentContainer {
                position: relative;

                img {
                    width: 35%;
                    position: absolute;
                    top: 25px;
                    right: 35px;
                }
            }
        }
    }

    .whosHarper {
        margin: 0 auto;
        text-align: center;
    }

    .categories {
        .rowOne,.rowTwo {
            img {
                width: 60px;
            }
        }
    }

    .blogOne {
        display: flex;
        flex-direction: column;
        .blogOneImg {
            align-self: center;
        }
        .blogOneContent {
            align-items: center;
            text-align: center;
        }
    }

    .blogTwo {
        display: flex;
        flex-direction: column;
        .blogTwoImg {
            align-self: center;
        }
        .blogTwoContent {
            align-items: center;
            text-align: center;
        }
    }

    .journeyContent {
        h2 {
            line-height: 42px;
        }
    }

    .imgGrid {
        ul {
            display: flex;
            flex-direction: column;
            border: none;
            padding: 20px 0;
            li {
                margin: 0 auto;
                img {
                    max-width: 100%;
                }
            }
        }
    }

    .blogFlex {
        display: flex;
        flex-direction: column;
        .asideBlog {
            max-width: 100%;
        }
        .blogDetails {
            display: flex;
            .blogAbout {
                margin-left: 30px;
                justify-content: center;
            }
        }
    }

    .blogPost {
        margin-top: 30px;
        max-width: 100%;
    }

    .comments {
        justify-content: center;
        min-width: 100%;
        .commentOne, .commentTwo {
            display: flex;
            flex-wrap: wrap;
            img {
                max-width: 100%;
                margin-right: 20px;
            }
        }
    }

    .contactInfo {
        .contactFlex {
            align-items: center;
        }
    }

    .contactForm {
        margin-top: 30px;
        .userInfo {
            display: flex;
            justify-content: space-between;
        }
    }

    .contactBox {
        width: 100%;
    }

    .contactFlex {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .navBar {
        ul {
            width: 500px;
            display: flex;
            flex-direction: column;
        }
    }

    .homeHeader {
        height: 90vh;
    }

    .headerFlex {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .homeHeaderImg {
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }

    .headerContent {
        .logoHero {
            font-size: 3rem;
            display: flex;
            text-align: center;
            margin-right: 70px;
            padding-top: 50px;
        }

        .contentContainer {
            position: relative;

            img {
                width: 35%;
                position: absolute;
                top: 25px;
                right: 35px;
            }
        }
    }

    .whosHarper {
        .wrapper {
            width: 100%;
            max-width: 500px;
            margin: 0 auto;
        }
        padding: 40px 0 60px 0;
        h2 {
            line-height: 42px;
        }
        .button {
            width: 100%;
        }
    }

    .categories {

        .rowOne,
        .rowTwo {
            display: flex;
            flex-direction: column;
            img {
                width: 60px;
            }
        }
    }

    .journey {
        .journeyFlex {
            display: flex;
            flex-direction: column;
            margin-left: 0;
    
            .journeyContent {
                text-align: center;
                margin-left: 0;
                padding-top: 20px;
            }
        }
    }

    .blogFlex {
        .blogDetails {
            display: flex;
            flex-wrap: wrap;
            //Need to center image
            // .blogImg {
            // }
            .blogAbout {
                margin-left: 0;
            }
        }
    }

    .contactHeader {
        position: relative;
    }
    .contactMain {
        h1 {
            position: absolute;
            top: 452px;
        }
    }

    .contactBox {
        width: 436.5px;
        margin: 0 auto;
        text-align: center;
    }

    .userInfo {
            display: flex;
            flex-direction: column;
    }
    
}