.navBar {
    background-color: $lightBlue;

    ul {
        display: flex;
        width: 30%;
        justify-content: space-between;
        margin: 0 auto;
        padding: 20px 0;

        li {
            font-family: $headingFont;
            a {
                text-decoration: none;
                font-family: $headingFont;
            }
        }
    }
}
